.exteriorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  color: rgb(206, 206, 206);
  align-items: center;
  justify-content: center;
}

.input {
  background-color: rgba(22, 7, 43, 0.774);
  color: rgb(206, 206, 206);
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
  height: 40px;
  width: 70px;
  font-size: 20px;
  filter: opacity(70%);
  margin-top: 10px;
  margin: 0 10px;
}

.input:active {
  zoom: 1.05;
}

.reload {
  background-color: rgba(22, 7, 43, 0.774);
  color: rgb(206, 206, 206);
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
  height: 50px;
  width: 90px;
  font-size: 20px;
  filter: opacity(70%);
  margin-top: 10px;
  margin: 0 10px;
}

.reload:active {
  zoom: 1.1;
}

.active {
  background-color: rgb(179, 179, 179);
  color: rgba(22, 7, 43, 0.774);
  transition: width 0.2s ease-in-out;
}

.label {
  font-size: 25px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 70%;
  margin: 0;
  flex-wrap: wrap;
  flex-grow: 1;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(22, 7, 43, 0.774);
  width: 31%;
  height: 90%;
  border-radius: 15px;
  color: rgb(206, 206, 206);
  filter: opacity(60%);
}

.taskContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.taskContainer::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5em;
}

.taskContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

.taskContainer::-webkit-scrollbar-thumb {
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.statusContainer > h1 {
  border-bottom: 1px solid rgb(206, 206, 206);
}

.odd {
  background-color: rgba(240, 248, 255, 0.096);
}

.task {
  position: relative;
  padding: 0px 30px;
}

.leftArrow, .rightArrow {
  position: absolute;
  display: none;
  bottom: 60%;
  width: 40px;
}

.editIcon {
  position: absolute;
  display: none;
  width: 40px;
  bottom: 0%;
  right: 0%;
}

.task:hover > .leftArrow,
.task:hover > .rightArrow,
.task:hover > .editIcon{
  position: absolute;
  display: flex;
  
}


.leftArrow:active, .rightArrow:active {
  zoom: 1.3;
}

.leftArrow {
  left: 1%;
  transform: rotate(180deg);
}

.rightArrow {
  right: 1%;
}


.tag {
  border: none;
  border-radius: 5px;
  margin: 2px;
}

@keyframes ldio {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 18px;
    left: 18px;
    width: 156px;
    height: 156px;
    opacity: 0;
  }
}.ldio div {
  position: absolute;
  border-width: 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio 1s cubic-bezier(0,0.2,0.8,1) infinite;
}.ldio div:nth-child(1) {
  border-color: #fa5fd3;
  animation-delay: 0s;
}
.ldio div:nth-child(2) {
  border-color: #ffd65d;
  animation-delay: -0.5s;
}
.loadingio {
  position: absolute;
  bottom: 25%;
  left: 30%;
  width: 200px;
  height: 180px;
  zoom: 3;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio div { box-sizing: content-box; }
/* generated by https://loading.io/ */